@include media-sl{
    main{
        margin:0;
        width: 100%;
        font-size: 0.8rem;
    }

    .main-head{
        padding: 2.5rem 1rem;
    }

    .main-news{
        padding: 0 1rem 1rem 1rem;
        li{
            width: 100%;

            .profile-img{
                height: 2.4rem;
            }
        }
    }
}

@include media-xs{
    .main-head{
        padding: 2.5rem 0.5rem;
    }

    .main-news{
        padding: 0 0.5rem 1rem 0.5rem;
        li{
            padding: 1rem 0.2rem;
        }
    }
}