@import "config";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}
body{
    @include flex-column-center;
    height: 100vh;
    background: $neutral2;
    font-family: "PlusJakartaSans", sans-serif;
    color: $neutral6;
}

main{
    @include flex-column-center;
    background: $neutral1;
    margin: auto;
    border-radius: 1rem;
}

.main-head{
    padding: 2.5rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .notif-box{
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        font-family: "PlusJakartaSans-ExtraBold";
        color: $neutral7;
        
        #news-number{
            @include flex-column-center;
            color:$neutral1;
            width:2.5rem;
            font-size: 1rem;
            background:  $primary2;
            margin-left: 0.5rem;
            border-radius: 0.5rem;
        }
    }

    &_mark{
        margin: auto 0;
    }
}

.main-news{
    padding: 0 2rem 1rem 2rem;
    @include flex-column-center;
    &_list{
        @include flex-column-center;
        align-items: flex-start;
        li{
            width: 40rem;
            display: flex;
            padding: 1rem;
            margin-bottom: 0.5rem;
            background: $neutral2;
            border-radius: 0.5rem;

            .message{
                margin-top: 0.5rem;
                margin-left: 1rem;
                padding: 1rem;
                border: 1px solid $neutral3;
                border-radius: 0.25rem;

                &:hover{
                    background: $neutral3;
                }
            }

            .profile-img{
                height: 3rem;
            }
            .news-inform{
                height: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                margin-left: 1rem;

                div{
                    display: flex;
                    .dot{
                        margin: auto;
                        height: 0.5rem;
                        width: 0.5rem;
                        background: $primary1;
                    }
                }

                .author-name{
                    font-family: "PlusJakartaSans-ExtraBold";
                    color: $neutral7;
                    &:hover{
                        color: $primary2;
                    }
                }

                .post-link{
                    font-family: "PlusJakartaSans-ExtraBold";
                    &:hover{
                        color: $primary2;
                    }

                    &:after{
                        visibility: visible;
                        content: "●";
                        color: $primary1;
                        font-size: 0.75rem;
                        padding-left: 0.2rem;
                    }
                }

                .time-ind{
                    color: $neutral5;
                }
            }

            .relative-img{
                height: 2rem;
                margin: auto 0 auto auto;
                padding: 0.05rem;
                border-radius: 0.4rem;
                border: 0.05rem solid $neutral2;
                &:hover{
                    border: 0.05rem solid $neutral3;
                }
            }
        }
        li:last-child{
            margin-bottom: 0;
        }
    }
}